[submodule "third-party/cmdline"]
	path = third-party/cmdline
	url = https://github.com/tanakh/cmdline
[submodule "third-party/cmark-gfm"]
	path = third-party/cmark-gfm
	url = https://github.com/github/cmark-gfm.git
