[submodule "third-party/cmdline"]
	path = third-party/cmdline
	url = https://github.com/tanakh/cmdline
[submodule "third-party/cmark"]
	path = third-party/cmark
	url = https://github.com/commonmark/cmark.git
