<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ site.subtitle }}">
    <title>{% if current.path != "/" and current.title %}{{ current.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.subtitle }}{% endif %}</title>
    <link rel="icon" href="/favicon.ico">
</head>
<body>

<table width="800" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <center>
                {% if current.path != "/" and current.title %}
                <h1>{{ current.title }}</h1>
                {% if current.subtitle %}<p><em>{{ current.subtitle }}</em></p>{% endif %}
                {% else %}
                <h1>{{ site.title }}</h1>
                {% if site.subtitle %}<p><em>{{ site.subtitle }}</em></p>{% endif %}
                {% endif %}
            </center>

            <blockquote>
                {% if current.path != "/" and current.desc %}
                <p>{{ current.desc }}</p>
                {% else %}
                <p>{{ default(site.desc, "") }}</p>
                {% endif %}
            </blockquote>

            <h3>&#9733; Index of Posts</h3>

            <ol>
                {% if current.path != "/" %}
                <li>
                    <b><font color="#888888">../</font></b>
                    <a href="{{ parent.url }}">{{ parent.label }}</a>
                </li>
                {% endif %}
                {% for item in items %}
                {% if item.is_dir %}
                <li>
                    <b>
                        <a href="{{ item.path }}">{{ item.title }} /</a>
                    </b>
                    &nbsp;<font size="-1" color="#999999">{{ format_datetime(item.write_time) }}</font>
                </li>
                {% else %}
                <li>
                    {% if item.link_path != "" %}
                    <a href="{{ item.link_path }}">{{ item.title }}</a>
                    {% else %}
                    <a href="{{ item.path }}">{{ item.title }}</a>
                    {% endif %}
                    &nbsp;<font size="-1" color="#999999">{{ format_datetime(item.write_time) }}</font>
                </li>
                {% endif %}
                {% endfor %}
            </ol>

            <center><small>{{ build.powered_by }}</small></center>
        </td>
    </tr>
</table>
</body>
</html>
