<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="icon" href="/favicon.ico">
</head>
<body>

<table width="800" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <center>
                <small>{{ format_datetime(page.write_time) }}</small>
                <h1>{{ page.title }}</h1>
                <p><font size="-1" color="#888888">{{ stats.word_count }} words &middot; ~{{ stats.read_min }} min</font>
                </p>
                <hr width="40%">
            </center>

            {{ page.contents }}

            <hr>

            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="33%" align="left">
                        {% if nav.prev_path != "" %}
                        <a href="{{ nav.prev_path }}">&laquo; {{ nav.prev_title }}</a>
                        {% endif %}
                    </td>
                    <td width="34%" align="center">
                        <a href="/">[ Index ]</a>
                    </td>
                    <td width="33%" align="right">
                        {% if nav.next_path != "" %}
                        <a href="{{ nav.next_path }}">{{ nav.next_title }} &raquo;</a>
                        {% endif %}
                    </td>
                </tr>
            </table>

            <center><small>{{ build.powered_by }}</small></center>
        </td>
    </tr>
</table>
</body>
</html>
